#Carrito {
    background-color: map-get($colores, primarioBg);
    margin: 5% auto;
    border-top: 2px solid blanchedalmond;
    border-bottom: 2px solid blanchedalmond;
    text-align: center;
}

.cartas {
    justify-content: space-between;
    align-items: flex-end;
}

.card {
    background-color: map-get($colores, carouselBg);
    width: 18rem;
}

.card-title {
    color: white;
}

.tituloCompra {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.card-header {
    background-color: burlywood;
    border: 1px solid black;
}

.dNone {
    display: none;
}